@import url('https://fonts.googleapis.com/css?family=Pacifico|Patrick+Hand');

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
  .example-full-width {
    width: 100%;
}
.center{
    text-align: center;
    position: relative;
    left: 24%;
}
.center2{
    text-align: center;
    position: relative;
    left: 35%;
}
.center1{
    text-align: center;
    position: relative;
    left: 38%;
    top:50px;
}
.center3{
    text-align: center;
    position: relative;
    left: 4%;
    top: -15px;
}
.card{
   height: 350px;
   width:400px;
   float:left;
   border-radius: 14px;
   margin-left: 70px;
   margin-bottom: 127px;
   box-shadow: 4px 4px 19px #9e8181;
   margin-right: 60px;
   margin-top: -23px;
}
.card:hover{
    cursor: pointer !important;
}
.toolbar{
	position: relative !important;
    bottom: 56px !important;

}
.container2{
	position: relative;
	top: 142px;
    left: 138px;
	margin-top: 60px;
	max-width: 92%;
}

.description{
    text-align: center;
    /* margin-left: 87px; */
    margin-top: 48px;
    font-size: 48px;
    font-family: 'Patrick Hand', cursive;
}

mat-toolbar{
    background: #ff4081;
    height: auto;
    word-wrap: break-word;
    color: #fff;
    padding: 14px;
}

.openForm{
    bottom: 28px;
    position: relative;
    float: right;
    margin-right: 71px;
    outline:none;
}

.formButtons{
    margin-top: 12px;
    float: right;
    margin-left: 22px;
    font-size: 20px;
}

.delete{
    position: relative;
    left: calc(100% - 28px) !important;
    top: -27px;
    outline: none;
    z-index: 1000;    left: -4%;
}


@media screen and (max-width: 800px) {
    .container2{
        left: -4%;
    }
    .search{
        width:30px;
    }
}