@import url('https://fonts.googleapis.com/css?family=Pacifico|Patrick+Hand');


.loader{
    transform: scale(1.3);
    position: relative;
    margin-left: 43%;
    margin-top: 20%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
  .example-full-width {
    width: 100%;
}
.center{
    text-align: center;
    position: relative;
    left: 24%;
}
.center2{
    text-align: center;
    position: relative;
    left: 35%;
}
.center1{
    text-align: center;
    position: relative;
    left: 38%;
    top:50px;
}
.center3{
    text-align: center;
    position: relative;
    left: 4%;
    top: -15px;
}
.card{
    height: auto;
    min-height: 350px;
       width: 25%;
      float: left;
   border-radius: 14px;
   margin-left: 31px;
   margin-bottom: 127px;
   box-shadow: 4px 4px 19px #9e8181;
   margin-right: 60px;
   margin-top: -23px;
}
.card:hover{
    cursor: pointer !important;
}
.toolbar{
	position: relative !important;
    bottom: 56px !important;

}
.container2{
	position: relative;
	top: 142px;
    left: 132px;
    	margin-top: 60px;
	max-width: 92%;
}

.description{
    text-align: center;
    /* margin-left: 87px; */
    margin-top: 12%;
    font-size: 2rem;
        font-family: 'Patrick Hand', cursive;
}

.description span {
    word-wrap: break-word;
}

mat-toolbar{
    background: #ff4081;
    height: auto;
    word-wrap: break-word;
    color: #fff;
    padding: 14px;
}

.openForm{
    bottom: 28px;
    position: relative;
    float: right;
    margin-right: 71px;
    outline:none;
}

.formButtons{
    margin-top: 12px;
    float: right;
    margin-left: 22px;
    font-size: 20px;
}

.delete{
    position: relative;
    left: calc(100% - 28px) !important;
    top: -27px;
    outline: none;
    z-index: 1000;    left: -4%;
}


@media screen and (max-width: 800px) {
    .center1{

        left: 20%;
                }
    .example-form{
        width:50%;
    } 
    .openForm{
        margin-right: 16px;
    }
    .description{
        font-size: 30px;
    }
    .card{
        min-height: 277px;
        width: 294px;
        border-radius: 14px;
        margin-left: -90px;            }
    .loader{
                transform: scale(1);
                position: relative;
                margin-left: 20%;
                margin-top: 30%;
            }
      h2{
        font-size: 22px;
        letter-spacing: 3px;
          }   
      h1{
        font-size: 40px;
        letter-spacing: 3px;
        left: -3px;
      }    
      .container2{
        max-width: 0%;
      }
}