<div id="wrapper">
	<div class="container">
		<div class="hello">
		<h1>Welcome to Blazey</h1><br>
		<p>"The age of disorganized notes is over"</p>
	    </div>
		
		<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
			<input type="text" placeholder="Username" readonly onfocus="this.removeAttribute('readonly')" formControlName="email" style="color: black;">
			<input type="password" style="color: black;" placeholder="Password" readonly onfocus="this.removeAttribute('readonly')" formControlName="password">
      <button type="submit" id="login-button">Login</button><br><br>
      <button type="button" routerLink="signup" id="signup-button">SignUp</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>