<img class="loader" *ngIf="!currentGenre" src="https://i.gifer.com/origin/7e/7ee3cfe72db589bdb95ad0f9edbaf6d4_w200.webp">
<div *ngIf="currentGenre?.length>0">
<h1 style=" font-family: 'Patrick Hand', cursive;
text-align: center;
    margin-left: 6%;">TOPICS</h1>

<h2 style=" font-family: 'Patrick Hand', cursive;
text-align: center;">IN {{ currentGenre | uppercase }}</h2>

<form class="example-form center1">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search">
  </mat-form-field>
</form>
<button mat-fab color="accent" class="openForm" mat-raised-button (click)="addNew(openForm)"><i class="fas fa-plus"></i></button>

<div class="container2" [@fadeIn]="topicArray?.length">
  <div class="card" *ngFor="let topic of topicArray;let i = index">
    <div *ngIf="!topic.isSubTopic" (click)="open(openModal,i)">

      <button *ngIf="topic.subTopics?.length<1" mat-fab color="accent" class="delete" mat-raised-button (click)="delete(i)"><i class="fa fa-times"></i></button>
      
      <mat-toolbar color="accent" class="toolbar">
        <span class="title center">{{ i+1 }}. {{ topic.topicName }}</span>
      </mat-toolbar>
      <div class="description1">
        <div *ngIf="topic.content && topic.content?.length <= 0">
        <div *ngFor="let linkData of topic.linkData;let i=index">
          <table>
              <tr>
                <td><span>{{i+1}}.</span></td>
                <td><a target="_blank" [href]="linkData.link" *ngIf="linkData.linkCaption" class="link">{{ linkData.linkCaption
                    }}</a>
                  <a [href]="linkData.link" *ngIf="!linkData.linkCaption" class="link">{{ linkData.link }}</a></td>
              </tr>
            </table>
        </div>  
      </div>
        <span>
          {{ topic.content?.substr(0,140) }} 
          <p *ngIf="topic.content && topic.content?.length>140" style="color:red"> ...Read more</p> 
        </span>
      </div>
    </div>
    <div *ngIf="topic.isSubTopic" (click)="goToSubTopic(topic._id)">
      <button *ngIf="topic.subTopics && topic.subTopics?.length<1" mat-fab color="accent" class="delete" mat-raised-button (click)="delete(i)"><i class="fa fa-times"></i></button>
      <div class="description"><span>{{ topic.topicName }} </span>
      </div>
      <br><br>
    <span style="margin:30px;">Open to see sub-topics inside</span>
    </div>
  </div>
</div>

</div>


<ng-template #openModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <mat-toolbar>
      <span class="title center2">{{ currentOpened.topicName }}</span>
    </mat-toolbar>
  </div><br>
  <p style="text-align: center;" *ngIf="currentOpened.linkData.linkCaption && currentOpened.linkData.linkCaption.length>0">Important Links : </p><br>
  <div class="modal-body" *ngFor="let linkData of currentOpened.linkData;let i=index">

    <table *ngIf="linkData.linkCaption && linkData.linkCaption.length>0">
      <tr>
        <td><span>{{i+1}}.</span></td>
        <td><a target="_blank" [href]="linkData.link" *ngIf="linkData.linkCaption" class="link">{{ linkData.linkCaption
            }}</a>
          <a [href]="linkData.link" *ngIf="!linkData.linkCaption" class="link">{{ linkData.link }}</a></td>
      </tr>
    </table>
  </div><br>
  <p *ngIf="currentOpened?.content" style="text-align: center;">Description</p>
  <div class="modal-body">
    <div class="description2"><span><pre>{{ currentOpened?.content }}</pre></span></div>
  </div>

</ng-template>

<ng-template #openForm let-c="close" let-d="dismiss">
  <mat-toolbar>
    <span class="title center2">Add new Term</span>
  </mat-toolbar><br><br>
  <form class="example-form center3" [formGroup]="topicForm" (ngSubmit)="add()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Topic" formControlName="topicName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select #isSt matInput [value]="true" placeholder="Will there be any subtopic" formControlName="isSubTopic">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="!isSt.value">
      <div formArrayName="linkData" *ngFor="let item of topicForm.get('linkData').controls; let i = index;">
        <div [formGroupName]="i">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Link" rows="4" formControlName="link">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="LinkCaption" rows="4" formControlName="linkCaption">
          </mat-form-field>

        </div>
      </div>
      <span (click)="addItem()" class="addLink" style="font-size: 13px;float:right;cursor: pointer;"><i class="fas fa-plus"
          style="font-size: 10px;"></i> Add more Links</span>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" rows="4" formControlName="content" required></textarea>
      </mat-form-field>
    </div>
    <span class="formButtons" mat-raised-button (click)="Cross_click()">Cancel</span>
    <button class="formButtons" type="submit" mat-raised-button>Add</button>
  </form>


</ng-template>
